<center>
  <div class="btn-group" role="toolbar" aria-label="Basic example">
    <form action="/feed" method="get">
      <button type="submit" class="dropbtn drop">Your Feed</button>
    </form>

    <form action="/samples" method="get">
      <button type="submit" class="dropbtn drop">Samples</button>
    </form>

    <form action="/discover" method="get">
      <button type="submit" class="dropbtn drop">Discover</button>
    </form>
  </div>
</center><br>

<% num = 1 %>
<center>
    <section class="card-list">
      <h1>Looperman Top Samples of the Day</h1>
        <% @samples.each do |sample| %>
          <article class="card">
            <header class="card-header">
              <p><%= Date.today.strftime("%B %d, %Y") %></p>
              <h5><%= num %> - <%= sample.title %></h5>
            </header>

            <div class="info">
              <p>Creator: <%= sample.creator %></p>
              <p>Downloads: <%= sample.download_count %></p>
              <p><%= sample.bpm %></p>
              <p>Key: <%= sample.key %></p>
            </div>

            <audio controls loop>
              <source src=<%=sample.audio_url%>/>
            </audio>
          </article>
          <% num += 1 %>
        <% end %>
    </section>
</center>
