<center>
  <h3>Click a Tag to delete it or add more</h3><br>

  <% @beat.beat_tags.each do |beat_tag| %>
    <%= link_to beat_tag.tag, "/tags/#{beat_tag.id}/destroy" %><br>
  <% end %>

  <%= form_for :beat_tag, url: "/beats/#{@beat.id}/tags/edit", method: "post" do |form| %>
      <%= form.text_field :tag %>
      <%= form.hidden_field :beat_id, value: @beat.id  %>
      <%= form.submit "Add Tag" %>
  <% end %>
</center>