<% if @user %>
<div class="profile">
  <%= image_tag @user.image %><br>
  <ul>
    <h2><%= @user.username %></h2>
    <% if @own_page %>
      <li>Followers: <%= @follower_count %></li>
      <li>Following: <%= @following_count %></li>
    <% elsif @following %>
      <li>Followers: <%= @follower_count %> <%= button_to "Unfollow", "/users/#{@user.id}/unfollow" %></li>
      <li>Following: <%= @following_count %></li>
    <% else %>
      <li>Followers: <%= @follower_count %> <%= button_to "Follow", "/users/#{@user.id}/follow" %></li>
      <li>Following: <%= @following_count %></li>
    <% end %>
    <li>Joined: <%= @user.created_at.strftime("%B %d %Y") %></li>
  </ul>
</div>

<center>
  <% if @user.beats %>
    <section class="profile-tracks">
      <h3><%= @user.username %>'s Tracks </h3><br>
        <% @user.beats.each do |beat| %>
          <article class="disabled-hover-card">
            <header class="card-header">
              <p><%= beat.created_at.strftime("%B %d, %Y") %></p>
              <h5>
                <form action=<%="/beats/#{beat.id}"%> method="get">
                  <button class="dropbtn logo" type="submit"><%= beat.name %></button>
                </form>
              </h5>
            </header>

            <audio class='audio' controls>
              <source src=<%=beat.audio.url%>/>
            </audio>

            <div class="info">
              <form action=<%="/users/#{beat.user.id}"%> method="get">
                <p><button class="dropbtn logo" type="submit">Creator: <%= beat.user.username %></button></p>
              </form>
              <p class="card-text"><%= beat.description %></p>
            </div>

            <% if beat.beat_tags.size > 0 %>
                <div class='dropdown'>
                  <button class="dropbtn drop" style="width:100%">Tags ▼</button>
                    <div class="dropdown-content">
                      <ul>
                        <% beat.beat_tags.each do |tag| %>
                          <li href="#"><%= link_to tag.tag, "/search?#{tag.tag}" %></li>
                        <% end %>
                      </ul>
                    </div>
                </div>
            <% end %>
          </article><br>
        <% end %>
    </section>
  <% end %>
</center>
<% end %>
