<% if @beat %>
  <div class='track'>
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1879px;">
      <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= @beat.name %></h5>
            <audio class='audio' controls>
              <source src=<%=@beat.audio.url%>/>
            </audio>
            <ul>
              <li class="card-text"><%= @beat.description %></li>
              <li class="card-text">Producer: <%= @beat.user.username %></li>
            </ul>
            <% if @beat.beat_tags.size > 0 %>
              <div class='tags'>
                <div class='dropdown'>
                  <button class="dropbtn drop" style="width:100%">Tags</button>
                    <div class="dropdown-content">
                      <ul>
                        <% @beat.beat_tags.each do |tag| %>
                          <li href="#"><%= link_to tag.tag, "/search?#{tag.tag}" %></li>
                        <% end %>
                      </ul>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>