<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% if @beat %>
  <center>
      <header class="card-header">
        <p><%= @beat.created_at.strftime("%B %d, %Y") %></p>
        <h5><%= @beat.name %></h5>
      </header>

      <audio class='audio' controls>
        <source src=<%=@beat.audio.url%>/>
      </audio>

      <div class="info">
        <form action=<%="/users/#{@beat.user.id}"%> method="get">
          <p><button class="dropbtn logo" type="submit">Creator: <%= @beat.user.username %></button></p>
        </form>
        <p class="card-text"><%= @beat.description %></p>
      </div>

      <% if @beat.beat_tags.size > 0 %>
        <div class='tags'>
          <div class='dropdown'>
          <button class="dropbtn drop" style="width:100%">Tags</button>
            <div class="dropdown-content">
              <ul>
                <% @beat.beat_tags.each do |tag| %>
                  <li href="#"><%= link_to tag.tag, "/search?#{tag.tag}" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %><br>

      <% if current_user.id == @beat.user_id %>
        <div class="button-list">
          <form method="get" action=<%="/beats/#{@beat.id}/update"%>>
            <button type="submit" class="btn"><i class="fa fa-pencil-square-o"></i> Edit</button>
          </form>
          <form method="get" action=<%="/beats/#{@beat.id}/destroy"%>>
            <button type="submit" class="btn"><i class="fa fa-trash"></i> Trash</button>
          </form>
        </div>
      <% end %> 
  </center>
<% end %>