<!DOCTYPE html>
<html>
  <head>
    <title>Beatfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <center>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="left">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <form action="/feed" method="get">
              <button class="btn" type="submit">Home</button>
            </form>
          </li>

          <li class="nav-item">
            <form action="/beats/new" method="get">
              <button class="btn" type="submit">Upload</button>
            </form>
          </li>
        </ul>
      </div>

      <div class="search">
        <%= form_tag(search_path, :method => "get") do %>  
            <%= search_field_tag :keyword, params[:keyword], placeholder: "Search", class: "search-field" %>  
            <%= button_tag "Search", :class => 'btn',:name => nil%>  
        <% end %>
      </div>


      <div class="right">
          <% if current_user %>
          <div class="dropdown-image">
            <% if current_user.avatar.attached? %>
              <button class="dropbtn drop"><%= cl_image_tag(current_user.avatar.key, :height=>225, :width=>225) %></button>
            <% else %>
              <button class="dropbtn drop"><%= image_tag("blank.png", :height=>225, :width=>225) %></button>
            <% end %>
            
            <div class="dropdown-content">
                <a href="#"><%= link_to current_user.username, "/users/#{current_user.id}" %></a>
                <a href="#"><%= link_to 'Settings', "/users/#{current_user.id}/update" %></a>
                <a href="#"><%= link_to 'Log Out', logout_path %></a>
            </div>
          </div>
          <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <% if !current_page?('/login') %>
                  <form action="/login" method="get">
                    <button class="btn" type="submit">Log In</button>
                  </form>
                <% end %>
              </li>
            </ul>
          <% end %>
      </div>
    </nav>
  </center>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
