<!DOCTYPE html>
<html>
  <head>
    <title>Beatfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="left">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <form action="/" method="get">
            <button class="dropbtn" type="submit">Home</button>
          </form>
        </li>
        <li class="nav-item" style="padding-left:5px">
          <form action="/discover" method="get">
            <button class="dropbtn" type="submit">Discover</a>
          </form>
        </li>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <div class="right">
        <div class="dropdown">
          <% if current_user %>
            <button class="dropbtn"><%= image_tag current_user.image %></button>
          <% end %>
          <div class="dropdown-content">
            <% if current_user %>
              <a href="#"><%= link_to current_user.username, "/users/#{current_user.id}" %></a>
              <a href="#"><%= link_to 'Log Out', logout_path %></a>
            <% else %>
              <a href="#"><%= link_to 'Register', users_new_path %></a>
              <a href="#"><%= link_to 'Log In', login_path %></a>
            <% end %>
          </div>
          
        </div>
      </div>
      </li>
    </ul>
  </nav>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
