<!DOCTYPE html>
<html>
  <head>
    <title>Beatfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <nav class="navbar navbar-expand-md fixed-top">
    <div class="left">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <form action="/" method="get">
            <button class="dropbtn logo" type="submit"><%= image_tag "https://github.com/lkriffell/beatfolio/blob/main/app/assets/images/logo.png?raw=true" %></button>
          </form>
        </li>
      </ul>
    </div>

      <div class="search">
        <%= form_tag search_path do %>
          <input class="search-field" type="search" placeholder="type something..." aria-label="Search" name="keyword">
          <input class="btn" type="submit" value="Search">
        <% end %>
      </div>

      <div class="right">
        <div class="dropdown">
          <% if current_user %>
            <button class="dropbtn drop"><%= image_tag current_user.image %></button>
            <div class="dropdown-content">
                <a href="#"><%= link_to current_user.username, "/users/#{current_user.id}" %></a>
                <a href="#"><%= link_to 'Settings', "/users/#{current_user.id}/update" %></a>
                <a href="#"><%= link_to 'Log Out', logout_path %></a>
            </div>
          <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <% if !current_page?('/login') %>
                  <form action="/login" method="get">
                    <button class="dropbtn login" type="submit">Log In</button>
                  </form>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
  </nav>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
